FREEOBJS=\
$(ARCH_FREEOBJS) \
libc/stdio/printf.o \
libc/stdio/putchar.o \
libc/stdio/puts.o \
libc/stdio/getchar.o \
libc/stdio/fgets.o \
libc/stdio/scanf.o \
libc/stdlib/abort.o \
libc/stdlib/abs.o \
libc/stdlib/atoi.o \
libc/stdlib/heap.o \
libc/stdlib/random.o \
libc/string/memcmp.o \
libc/string/memcpy.o \
libc/string/memmove.o \
libc/string/memset.o \
libc/string/memchr.o \
libc/string/strlen.o \
libc/string/strcpy.o \
libc/string/strcmp.o \
libc/string/strcat.o \
libc/string/strchr.o \
libc/string/strncat.o \
libc/string/strcspn.o \
libc/string/strncmp.o \
libc/string/strncpy.o \
libc/string/strpbrk.o \
libc/string/strrchr.o \
libc/string/strspn.o \
libc/string/strstr.o \
libc/string/strtok.o \
libc/string/strdup.o \
libc/string/strndup.o \
libc/string/memccpy.o