KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
kernel/$(ARCHDIR)/loader.o \
kernel/$(ARCHDIR)/gdt_flush.o \
kernel/$(ARCHDIR)/kernel_init.o \
kernel/$(ARCHDIR)/irq.o \
kernel/$(ARCHDIR)/interrupts.o \
kernel/$(ARCHDIR)/io.o \
kernel/$(ARCHDIR)/neutrino_i386.o

# kernel/arch/i386/make.config - deals with aligning and compiling all of the arch-specific code.